<div class="container">
  <h1 style="text-align: center">Registrar Predio</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3 bg-faded">
    <div class="form-group row">
      <label for="nombrePredio" class="col-sm-2 col-form-label"><strong>Nombre Predio</strong></label>
      <div class="col-sm-10">
        <input id="nombrePredio" type="text" class="form-control" formControlName="nombrePredio"
               placeholder="Nombre del Predio" required="true"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="telefono" class="col-sm-2 col-form-label"><strong>Telefono</strong></label>
      <div class="col-sm-10">
        <p-inputMask id="telefono" mask="(999) 999-9999" placeholder="(999) 999-9999" type="text"
                     formControlName="telefono" required="true"></p-inputMask>
      </div>
    </div>
    <!--<div class="form-group row" *ngFor="let dia of dias">-->
      <!--<label class="col-sm-2 col-form-label"><strong>{{dia}}</strong></label>-->
      <!--<label for="desde" class="col-sm-1 col-form-label"><strong>Desde</strong></label>-->
      <!--<div class="col-sm-4">-->
        <!--<p-calendar id="desde" formControlName="desde" [timeOnly]="true"></p-calendar>-->
      <!--</div>-->
      <!--<label for="hasta" class="col-sm-1 col-form-label"><strong>Hasta</strong></label>-->
      <!--<div class="col-sm-4">-->
        <!--<p-calendar id="hasta" formControlName="hasta" [timeOnly]="true"></p-calendar>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row">
      <div class="ui-grid-col-3"></div>
      <div class="ui-grid-col-2">
        <button pButton type="submit" icon="pi pi-check" label="Confirm" [disabled]="form.invalid"></button>
      </div>
      <div class="ui-grid-col-2">
      </div>
      <div class="ui-grid-col-2">
        <button pButton type="button" icon="pi pi-times" label="Cancelar" (click)="form.reset()"></button>
      </div>
      <div class="ui-grid-col-3"></div>
    </div>
  </form>
</div>



