<div class="centrado">
  <p-card title="Crear Partido" [style]="{width: '100%'}" styleClass="ui-card-shadow">
    <div class="container ui-fluid">
      <app-deporte-cancha-partido (canchaSeleccionada)="getTipoCancha($event)"
                                  (fechaSeleccionada)="getFecha($event)"></app-deporte-cancha-partido>

      <div class="form-group row">
        <label for="Mapa" class="col-sm-2 col-form-label"><strong>Ubicación</strong></label>
        <div class="col-sm-10">
          <!--<button pButton id="Mapa" type="button" label="Mapa" icon="fa-map-marker"-->
                  <!--(click)="displayDialog=true; mapa.setAll(predios)"></button>-->
          <button pButton id="Mapa" type="button" label="Mapa" icon="fa-map-marker"
                  (click)="openDialog()"></button>
          <!--<button type="text" pButton label="Basic" (click)="op1.toggle($event)"></button>-->
        </div>
        <div *ngIf="mostrarLabel">
          <label class="col-12 col-form-label"><strong>Predio elegido: </strong>{{selectedPredio?.nombrePredio}}</label>
        </div>
      </div>

      <app-plantel (sendPlantel)="getPlanteles($event)"></app-plantel>
    </div>

    <p-footer>
      <div class="row">
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-2">
          <button pButton type="button" label="Crear" icon="pi pi-check" (click)="crearPartido()"></button>
        </div>
        <div class="ui-grid-col-2">
        </div>
        <div class="ui-grid-col-2">
          <button pButton type="button" label="Cancelar" icon="pi pi-times" class="ui-button-secondary"></button>
        </div>
        <div class="ui-grid-col-3"></div>
      </div>
      <!--<button pButton type="button" label="Crear" icon="pi pi-check"></button>-->
      <!--<button pButton type="button" label="Cancelar" icon="pi pi-times" class="ui-button-secondary"></button>-->
    </p-footer>
  </p-card>
  <!--</form>-->
</div>
<p-dialog header="Title" [minWidth]="300" [(visible)]="displayDialog" [modal]="true">
  <app-map #mapa (sendUbicacion)="getUbicacionSeleccionada($event)" (sendInfo)="definirPredio($event)"></app-map>
</p-dialog>


<!--<p-confirmDialog acceptLabel="Sí" rejectLabel="No"></p-confirmDialog>-->
