<div style="margin-top: 3%">
  <h3>Organizar Partido</h3>
  <div class="container ui-fluid">
    <app-deporte-cancha-partido (canchaSeleccionada)="getTipoCancha($event)"
                                (fechaSeleccionada)="getFecha($event)"></app-deporte-cancha-partido>

    <div class="form-group row">
      <label for="Mapa" class="col-sm-2 col-form-label"><strong>Ubicación</strong></label>
      <div class="col-sm-10">
        <button mat-raised-button id="Mapa" color="primary" class="col-sm-12"
                [disabled]="!(deporte && fechaPartido)" (click)="openDialog()">Ubicación
        </button>
      </div>
      <div *ngIf="mostrarLabel">
        <label class="col-12 col-form-label"><strong>Predio elegido: </strong>
          {{selectedPredio?.nombrePredio}} - {{selectedPredio?.direccion}}
        </label>
      </div>
    </div>

    <app-plantel (sendPlantel)="getPlanteles($event)"></app-plantel>
  </div>
  <p>Porcentaje de Confirmacion: {{porcentajeOcupacion?.toFixed(2)}}. Debe superar el 80% para poder reservar</p>

  <div style="text-align: right; padding: 6px 15px">
    <button mat-raised-button color="warn">Cancelar</button>
    <button mat-raised-button color="primary"
            [disabled]="!(deporte && fechaPartido && selectedPredio)" (click)="crearPartido()">Aceptar</button>
  </div>

</div>
