<mat-horizontal-stepper [linear]="isLinear" #stepper style="height: 100%;">
  <mat-step>
    <ng-template matStepLabel>Horarios</ng-template>
    <app-registrar-predio1 (stepEmit)="siguiente($event, stepper)"></app-registrar-predio1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Dia/Noche</ng-template>
    <app-configuracion-horas (stepEmit)="siguiente($event, stepper)"></app-configuracion-horas>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Canchas</ng-template>
    <app-carga-nueva-cancha (canchasSeleccionada)="siguiente($event, stepper)" [steps]="true"></app-carga-nueva-cancha>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ubicacion</ng-template>
    <app-registro-predio-mapa [steps]="true"
                              (ubicacionSeleccionada)="siguiente($event, stepper)"></app-registro-predio-mapa>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fin</ng-template>
    <p *ngIf="(nombrePredio && horarios && telefono && canchas && ubicacion); else otroTexto">Ya está todo listo para
      empezar a usar la aplicación! Dale a Finalizar y comenzá</p>
    <ng-template #otroTexto>Completá todos los pasos para poder continuar</ng-template>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button (click)="crearPredio()"
              [disabled]="!(nombrePredio && horarios && telefono && canchas && ubicacion)">Finalizar
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
