<form [formGroup]="form" #invitar="ngForm">
    <span class="ui-inputgroup">
      <p-autoComplete id="jugador" formControlName="jugador" field="email"
                      [suggestions]="jugadores" (completeMethod)="getJugadores($event)"
                      [multiple]="true" emptyMessage="No existen jugadores" [forceSelection]="true"
                      (onSelect)="agregarJug($event)" (onUnselect)="eliminarJug($event)">
        <ng-template let-jugador pTemplate="item">
          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5;">
            <div>
              {{jugador.nombre +' '+ jugador.apellido}}
              <div style="font-size:12px">
              {{jugador.email}}
              </div>
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
    </span>
</form>
