<form [formGroup]="form">
  <div class="form-group row">
    <label for="jugador" class="col-sm-2 col-form-label"><strong>Jugador a invitar</strong></label>
    <div class="col-sm-10">
    <span class="ui-inputgroup">
      <p-autoComplete id="jugador" formControlName="jugador" field="email"
                      [suggestions]="jugadores" (completeMethod)="getJugadores($event)"
                      [multiple]="true" emptyMessage="No existen jugadores" [forceSelection]="true"
                      (onSelect)="agregarJug($event)" (onUnselect)="eliminarJug($event)">
        <ng-template let-jugador pTemplate="item">
          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5;">
            <div>
              {{jugador.nombre +' '+ jugador.apellido}}
              <div style="font-size:12px">
              {{jugador.email}}
              </div>
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
      <button pButton type="button" icon="pi pi-check" class="ui-button-success" (click)="sendJugadores()"></button>
    </span>
    </div>
  </div>
</form>
<!--<button (click)="sendJugadores($event)">Notify my parent!</button>-->
