<mat-form-field class="example-full-width">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let fruit of jugadoresSeleccionados"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)">
      {{fruit.nombre}} {{fruit.apellido}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Invitar jugadores"
      #fruitInput
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" class="example-full-width">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      <div>
        <span>{{fruit.nombre}} {{fruit.apellido}}</span>
        <small>Puntuacion: {{fruit.calificacion.puntaje}}</small>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
