<div>
  <h3 style="text-align: left; display: inline-flex">
    {{equipo?.nombre}}
  </h3>
</div>

<h4 mat-subheader>Capitan</h4>
<app-estrellas-jugador [capitan]="capitan"></app-estrellas-jugador>

<h4 mat-subheader>Jugadores</h4>
<div *ngFor="let jugador of jugadores" style="width: 100%; margin-bottom: 0; position: relative">
  <app-estrellas-jugador [capitan]="jugador" style="width: 100%"></app-estrellas-jugador>
  <button *ngIf="editable" mat-icon-button (click)="showConfirmDialog(jugador)" style="position: absolute;
    right: 5px;
    top: 0px;">
    <mat-icon>close</mat-icon>
  </button>
</div>
<button *ngIf="editable" mat-raised-button class="btnEliminar" color="warn" (click)="showEliminarDialog()">Eliminar
  equipo
</button>
<!--<app-estrellas-jugador [jugadores]="jugadores" [capitan]="capitan"></app-estrellas-jugador>-->


<div *ngIf="editable" class="fab-container">
  <button mat-fab class="fab-toggler" color="accent"
          (click)="showDialog()">
    <i class="material-icons" style="color: white">add</i>
  </button>
</div>
