<div class="container ui-fluid">
  <h3>Reservar Cancha</h3>
  <app-deporte-cancha-partido (canchaSeleccionada)="getTipoCancha($event)"
                              (fechaSeleccionada)="getFecha($event)"></app-deporte-cancha-partido>

  <div class="form-group row">
    <label for="Mapa" class="col-sm-2 col-form-label"><strong>Ubicación</strong></label>
    <div class="col-sm-10">
      <button mat-raised-button id="Mapa" color="primary" class="col-sm-12" [disabled]="!abrirMapa" (click)="openDialog()">Ubicación</button>
    </div>
    <div *ngIf="mostrarLabel">
      <label class="col-12 col-form-label"><strong>Predio elegido: </strong>
        {{selectedPredio?.nombrePredio}} - {{selectedPredio?.direccion}}
      </label>
    </div>
  </div>
</div>
<div style="text-align: right; padding: 6px 15px">
  <button mat-raised-button color="warn" routerLink="../">Cancelar</button>
  <button mat-raised-button color="primary"
          [disabled]="!(deporte && fechaPartido && selectedPredio)" (click)="reservar()">Aceptar
  </button>
</div>

