
  <h3>Organizar Partido</h3>
  <div class="container ui-fluid">
    <app-deporte-cancha-partido (canchaSeleccionada)="getTipoCancha($event)"
                                (fechaSeleccionada)="getFecha($event)"></app-deporte-cancha-partido>

    <div class="form-group row">
      <label for="Mapa" class="col-sm-2 col-form-label"><strong>Ubicación</strong></label>
      <div class="col-sm-10">
        <button mat-raised-button id="Mapa" color="primary" class="col-sm-12" (click)="openDialog()">Ubicación</button>
      </div>
      <div *ngIf="mostrarLabel">
        <label class="col-12 col-form-label"><strong>Predio elegido: </strong>
          {{selectedPredio?.nombrePredio}} - {{selectedPredio?.direccion}}
        </label>
      </div>
    </div>
  </div>
  <button mat-button>Time</button>
  <!--<form class="example-form">-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput value="{{selectedTime}}" placeholder="Hora" required>-->
      <!--<mat-icon matSuffix (click)="open()">schedule</mat-icon>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">-->
      <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #picker1></mat-datepicker>-->
    <!--</mat-form-field>-->
  <!--</form>-->
<app-fecha-hora></app-fecha-hora>
  <!--</form>-->
  <p-footer>
    <div class="row">
      <div class="ui-grid-col-3"></div>
      <div class="ui-grid-col-2">
        <button pButton type="button" label="Crear" icon="pi pi-check" (click)="reservar()"></button>
      </div>
      <div class="ui-grid-col-2">
      </div>
      <div class="ui-grid-col-2">
        <button pButton type="button" label="Cancelar" icon="pi pi-times" class="ui-button-secondary"></button>
      </div>
      <div class="ui-grid-col-3"></div>
    </div>
  </p-footer>

