<div class="container" style="margin: 1%; height: 100%">
  <!--<p>Display event : {{displayEvent | json}}</p>-->
  <div *ngIf="calendarOptions" [hidden]="!hidden">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)"
                     (clickButton)="clickButton($event.detail)"
                     (dayClick)="clickButton($event)"></ng-fullcalendar>
  </div>
  <div [hidden]="hidden">
    <app-reserva-predio (volverEmit)="volver($event)"></app-reserva-predio>
  </div>
</div>
