<div class="container">
  <h3>Crear Equipo</h3>
  <mat-form-field>
    <input matInput placeholder="Nombre Equipo" [(ngModel)]="nombreEquipo" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select id="cancha" placeholder="Seleccioná un deporte" required [(ngModel)]="deporte">
      <mat-option *ngFor="let d of deportes" [value]="d">
        {{d?.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-invitar-jugadores [queTraer]="'Jugadores'" (notifyParent)="getJugadores($event)"
                         (jugadoresInvitados)="setChecked($event)"></app-invitar-jugadores>

  <div style="text-align: right; padding: 6px 15px">
    <button mat-raised-button type="button" color="warn" routerLink="../../">Cancelar</button>
    <button mat-raised-button type="button" (click)="onSubmit()" color="primary"
            [disabled]="!(nombreEquipo && deporte)">Crear
    </button>
  </div>

</div>
