<div class="container">
  <form [formGroup]="nombreHoraForm">
    <!--<ng-template matStepLabel>Fill out your name</ng-template>-->
    <mat-form-field>
      <input matInput placeholder="Nombre Predio" formControlName="nombrePredio" required>
    </mat-form-field>
    <mat-form-field>
      <!--<input matInput placeholder="Teléfono de Contacto" id="telefono" formControlName="telefono" appPhoneMask required>-->
      <input matInput placeholder="Teléfono de Contacto" class="form-control" type="text" appPhoneMask [maxlength]="14"
             formControlName="telefono" id="phone-number">
    </mat-form-field>
    <app-fecha-carousel *ngIf="nombreHoraForm.valid" (emitHorario)="getHorarios($event)"></app-fecha-carousel>
  </form>
</div>
