<div class="container">
  <form [formGroup]="nombreHoraForm">
    <!--<ng-template matStepLabel>Fill out your name</ng-template>-->
    <mat-form-field>
      <input matInput placeholder="Nombre Predio" formControlName="nombrePredio" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Teléfono de Contacto" formControlName="telefono" type="number" required>
    </mat-form-field>
    <app-fecha-carousel *ngIf="nombreHoraForm.valid" (emitHorario)="getHorarios($event)"></app-fecha-carousel>
  </form>
</div>
