<mat-expansion-panel *ngFor="let dia of dias; let i = index">
  <mat-expansion-panel-header>
    {{dia}}
  </mat-expansion-panel-header>
  <mat-checkbox [color]="'primary'" [(ngModel)]="horarios[i].abre">¿Abrís hoy?</mat-checkbox>
  <div *ngIf="horarios[i]?.abre">
    <div *ngFor="let hora of horarios[i].horario">
      <div class="form-group">
        <label for="desde{{dia}}" class="col-sm-2 col-form-label"><strong>Desde</strong></label>
        <p-calendar id="desde{{dia}}" [stepMinute]="30" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"
                    ondragover="true" class="col-sm-10" [(ngModel)]="hora.desde"
                    [defaultDate]="defaultDate"></p-calendar>
        <label for="hasta{{dia}}" class="col-sm-2 col-form-label"><strong>Hasta</strong></label>
        <p-calendar id="hasta{{dia}}" [stepMinute]="30" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"
                    ondragover="true" class="col-sm-10" [(ngModel)]="hora.hasta"
                    [defaultDate]="defaultDate"></p-calendar>
      </div>
    </div>
    <button mat-raised-button (click)="agregarHorario(i)">Nuevo Horario</button>
  </div>

</mat-expansion-panel>
<button mat-button (click)="sendHorarios()">Aceptar</button>
