<div>
  <p-accordion *ngFor="let dia of dias; let i = index">
    <p-accordionTab header={{dia}}>
      <div *ngFor="let hora of horarios[i].horario">
        <div class="form-group">
          <label for="Desde{{dia}}" class="col-sm-2 col-form-label"><strong>Desde</strong></label>
          <p-calendar id="Desde{{dia}}" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"
                      ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="hora.desde"
                      (onSelect)="sendHorarios()"></p-calendar>
        </div>
        <div class="form-group">
          <label for="Hasta{{dia}}" class="col-sm-2 col-form-label"><strong>Hasta</strong></label>
          <p-calendar id="Hasta{{dia}}" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"
                      ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="hora.hasta"
                      (onSelect)="sendHorarios()"></p-calendar>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <!--<p-button icon="pi pi-check" label="Click" (onClick)="sendHorarios()"></p-button>-->
</div>


<!--<p-accordion *ngFor="let dia of dias">-->
<!--<p-accordionTab header={{dia}}>-->
<!--<div class="form-group">-->
<!--<label for="desde{{dia}}" class="col-sm-2 col-form-label"><strong>Desde</strong></label>-->
<!--<p-calendar id="desde{{dia}}" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"-->
<!--ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="desde"></p-calendar>-->
<!--</div>-->
<!--<div>-->
<!--<label for="hasta{{dia}}" class="col-sm-2 col-form-label"><strong>Hasta</strong></label>-->
<!--<p-calendar id="hasta{{dia}}" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"-->
<!--ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="hasta"></p-calendar>-->
<!--</div>-->
<!--</p-accordionTab>-->
<!--</p-accordion>-->

<!--<drag-scroll>-->
<!--&lt;!&ndash;<ng-template *ngFor="let dia of dias">&ndash;&gt;-->
<!--<div *ngFor="let dia of dias" drag-scroll-item>-->
<!--<div class="ui-grid ui-grid-responsive form-group" >-->
<!--<div class="ui-grid-row">-->
<!--<div style="text-align: center">{{dia}}</div>-->
<!--</div>-->
<!--<div class="ui-grid-col-12"></div>-->
<!--<div>-->
<!--<div class="form-group">-->
<!--<label for="desde" class="col-sm-2 col-form-label"><strong>Desde</strong></label>-->
<!--<p-calendar id="desde" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"-->
<!--ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="desde"></p-calendar>-->
<!--</div>-->
<!--<div>-->
<!--<label for="hasta" class="col-sm-2 col-form-label"><strong>Hasta</strong></label>-->
<!--<p-calendar id="hasta" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"-->
<!--ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="hasta"></p-calendar>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</drag-scroll>-->

<!--<swiper class="swiper-container" fxFlex="auto" [config]="config">-->
<!--<div *ngFor="let dia of dias" class="swiper-slide">-->
<!--<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>-->
<!--<div class="ui-grid ui-grid-responsive form-group" >-->
<!--<div class="ui-grid-row">-->
<!--<div style="text-align: center">{{dia}}</div>-->
<!--</div>-->
<!--<div class="ui-grid-col-12"></div>-->
<!--<div>-->
<!--<div class="form-group">-->
<!--<label for="desde" class="col-sm-2 col-form-label"><strong>Desde</strong></label>-->
<!--<p-calendar id="desde" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"-->
<!--ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="desde"></p-calendar>-->
<!--</div>-->
<!--<div>-->
<!--<label for="hasta" class="col-sm-2 col-form-label"><strong>Hasta</strong></label>-->
<!--<p-calendar id="hasta" [readonlyInput]="true" [timeOnly]="true" [showTime]="true"-->
<!--ondragover="true" class="col-sm-10" touchUI="true" [(ngModel)]="hasta"></p-calendar>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</swiper>-->
