<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf="cancha.nombreCancha; else noTiene">
      {{cancha.nombreCancha}}
    </mat-panel-title>
    <ng-template #noTiene>
      Nueva Cancha
    </ng-template>
    <span class="spacer"></span>
    <mat-icon (click)="emitEliminarCancha()">delete</mat-icon>
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput placeholder="Nombre" required [(ngModel)]="cancha.nombreCancha"/>
  </mat-form-field>
  <mat-form-field>
    <mat-select *ngIf="!cancha.canchasHijas; else NoEditable" placeholder="Tamaño de Cancha" required
                (selectionChange)="minimoDeporte($event)" [(ngModel)]="cancha.deporte">
      <mat-option *ngFor="let deporte of deportes" [value]="deporte._id">
        {{deporte?.nombre}}
      </mat-option>
    </mat-select>
    <ng-template #NoEditable>
      <mat-select [disabled]="true" placeholder="Tamaño de Cancha" required (selectionChange)="minimoDeporte($event)"
                  [(ngModel)]="cancha.deporte">
        <mat-option *ngFor="let deporte of deportes" [value]="deporte._id">
          {{deporte?.nombre}}
        </mat-option>
      </mat-select>
    </ng-template>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Tipo de Suelo" required [(ngModel)]="cancha.tipoSuelo">
      <mat-option *ngFor="let suelo of tipoSuelo" [value]="suelo">
        {{suelo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Precio Diurno" (keypress)="numberOnly($event)" type="text" class="example-right-align"
           [(ngModel)]="cancha.precioDia">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>
  <mat-form-field *ngIf="precioNoche">
    <input matInput placeholder="Precio Nocturno" (keypress)="numberOnly($event)" type="text" class="example-right-align"
           [(ngModel)]="cancha.precioNoche">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>
  <button mat-stroked-button *ngIf="(!precioNoche && cancha.nombreCancha && cancha.deporte &&
  cancha.tipoSuelo && cancha.precioDia) || (cancha.nombreCancha && cancha.deporte &&
  cancha.tipoSuelo && cancha.precioDia && cancha.precioNoche && imprime)" (click)="nuevaSubCancha(cancha)"
          style="margin-bottom: 2%">
    <small>Contiene canchas internas</small>
  </button>
  <div *ngIf="imprime">
    <div *ngFor="let subcancha of cancha.canchasHijas">
      <app-nueva-cancha (canchaEliminada)="eliminarCancha($event)" [sueloPadre]="cancha.tipoSuelo" [cancha]="subcancha"
                        [deportePadre]="cancha.deporte"></app-nueva-cancha>
    </div>
  </div>
</mat-expansion-panel>
