<div *ngIf="!predio; else Predio">
  <div *ngFor="let notificacion of notificaciones">
    <app-card-notificacion *ngIf="notificacion.tipo !== 'PartidoFinalizado'; else partidoFinalizado"
                           (swipe)="restarNotificacion({value:notificacion, tipo:'n'})"
                           [mensaje]="notificacion.mensaje"></app-card-notificacion>
    <ng-template #partidoFinalizado>
      <app-card-notificacion-resultado-partido [idPartido]="notificacion.partido"
                                               [mensaje]="notificacion.mensaje"
                                               (swipe)="restarNotificacion({value:notificacion, tipo:'n'})">
      </app-card-notificacion-resultado-partido>
    </ng-template>
  </div>
  <div *ngFor="let solicitud of solicitudes">
    <app-card-solicitud (restarNotificacion)="restarNotificacion({value:solicitud, tipo:'s'})"
                        [solicitud]="solicitud"></app-card-solicitud>
  </div>
</div>

<ng-template #Predio>
  <div *ngFor="let reserva of reservas">
    <app-card-notificacion-reserva [reserva]="reserva" (restarNotificacion)="restarNotificacionPredio(reserva, $event)"></app-card-notificacion-reserva>
  </div>
  <div *ngFor="let notificacion of notificaciones">
    <app-card-notificacion *ngIf="notificacion.tipo !== 'PartidoFinalizado'; else partidoFinalizado"
                           (swipe)="restarNotificacion({value:notificacion, tipo:'n'})"
                           [mensaje]="notificacion.mensaje"></app-card-notificacion>
  </div>
</ng-template>

