<mat-card [routerLink]="['/predio/detalleMensual/' + resumen._id]">
  <mat-card-header style="position: relative;">
    <p style="margin-left: -17px;">{{mesFacturacion}}</p>
    <mat-icon *ngIf="resumen.estado === 'Pagado'" style="position: absolute; right: 0; top: 0; color: green">check_circle</mat-icon>
  </mat-card-header>
  <mat-card-content style="position: relative;">
    <p>{{periodoDesde}} - {{periodoHasta}}</p>
    <p style="position: absolute; right: 0; top: 0; font-size: 20px;"><span matPrefix>$ &nbsp;</span>{{resumen.detalle.total}}</p>
  </mat-card-content>
</mat-card>
