.facebook{
  background-color: #5051b3;
  border-color: #5051b3;
}

.google{
  background-color: #db3236;
  border-color: #db3236;
}

.cuerpo{
  margin-top: 20px;
}

a.ui-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: white;
}
