.mat-list .mat-list-item .mat-list-avatar, .mat-list .mat-list-option .mat-list-avatar, .mat-nav-list .mat-list-item .mat-list-avatar, .mat-nav-list .mat-list-option .mat-list-avatar, .mat-selection-list .mat-list-item .mat-list-avatar, .mat-selection-list .mat-list-option .mat-list-avatar {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.mat-card-image{
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
