<mat-card>
  <img mat-card-avatar src="http://placehold.it/60x60" alt="">
  <!--<img mat-card-avatar src="{{asd}}" alt="">-->
  <ng-template [ngIf]="!yaAmigos && !solicitudEnviada && !solicitudRecibida">
    <button style="text-align:right" mat-raised-button
            color="primary" (click)="solicitudAmistad()">
      Agregar a Amigos
    </button>
  </ng-template>
  <ng-template [ngIf]="!yaAmigos && solicitudEnviada && !solicitudRecibida">
    <button style="text-align:right" mat-raised-button
            color="primary" (click)="cancelarSolicitud()">
      Solicitud enviada
    </button>
  </ng-template>
  <ng-template [ngIf]="solicitudRecibida">
    <button style="text-align:right" mat-raised-button
            color="primary" (click)="openDialog()">
      Aceptar/Rechazar
    </button>
  </ng-template>
  <ng-template [ngIf]="yaAmigos">
    <button style="text-align:right" mat-stroked-button
            color="primary" (click)="eliminarAmistad()">
      Ya son amigos
    </button>
  </ng-template>
  <mat-card-header style="margin: 5px 0 0">
    <mat-card-title>
      {{jugador?.nombre}} {{jugador?.apellido}}
    </mat-card-title>
    <mat-card-subtitle>{{jugador?.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group" *ngIf="jugador?.calificacion; else noCalificacion">
      <div class="row" style="padding: 0 24px; align-items: center">
        <label class="ui-grid-col-1 col-form-label"><strong>Tecnica </strong></label>
        <div class="ui-grid-col-5"></div>
        <p-rating class="ui-grid-col-5" [cancel]="false" style="text-align: right" readonly="true"
                  [(ngModel)]="jugador?.calificacion.atributos.tecnica"></p-rating>
      </div>
      <div class="row" style="padding: 0 24px; align-items: center">
        <label class="ui-grid-col-1 col-form-label"><strong>Puntualidad </strong></label>
        <div class="ui-grid-col-5"></div>
        <p-rating class="ui-grid-col-5" [cancel]="false" style="text-align: right" readonly="true"
                  [(ngModel)]="jugador?.calificacion.atributos.puntualidad"></p-rating>
      </div>
      <div class="row" style="padding: 0 24px; align-items: center">
        <label class="ui-grid-col-1 col-form-label"><strong>Personalidad </strong></label>
        <div class="ui-grid-col-5"></div>
        <p-rating class="ui-grid-col-5" [cancel]="false" style="text-align: right" readonly="true"
                  [(ngModel)]="jugador?.calificacion.atributos.personalidad"></p-rating>
      </div>
    </div>
    <ng-template #noCalificacion>
      <p>Todavia no se registran calificaciones para {{jugador?.nombre}}</p>
    </ng-template>
  </mat-card-content>
</mat-card>

