<div style="margin: 3%;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div>
          <img [src]="jugador?.img" style="height: 25px; width: 25px">
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div>
          {{jugador?.nombre}} {{jugador?.apellido}}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!--<div class="form-group">-->
    <!--<mat-checkbox [(ngModel)]="asistio" color="accent">El jugador asistió a la reserva?</mat-checkbox>-->
    <!--</div>-->
    <p style="font-size: 15px;">El jugador asistió a la reserva?</p>
    <p>
      <small>Esto sirve para garantizar una mejor información cuando el jugador te quiera reservar nuevamente en un
        futuro
      </small>
    </p>
    <!--<fusioncharts-->
    <!--width="50%"-->
    <!--height="100"-->
    <!--type="hlineargauge"-->
    <!--[dataSource]="dataSource">-->
    <!--</fusioncharts>-->
    <mat-action-row>
      <button mat-button color="warn" (click)="setPuntaje(false)">No</button>
      <button mat-button color="primary" (click)="setPuntaje(true)">Sí</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
