<div *ngFor="let cancha of canchas" style="padding: 2% 2% 0 2%">
  <app-nueva-cancha [cancha]="cancha" [precioNoche]="precioNoche" (canchaEliminada)="eliminarCancha($event)"></app-nueva-cancha>
</div>
<div class="fab-container">
  <button mat-fab class="fab-toggler" color="accent"
          (click)="nuevaCancha()">
    <i class="material-icons" style="color: white">add</i>
  </button>
</div>
<div>
  <button *ngIf="canchas?.length > 0" mat-raised-button style="margin: 2%;" (click)="agregarCanchas()">Aceptar</button>
</div>
