<div class="container">
  <!--<p-card title="Crear Partido" [style]="{width: '100%'}" styleClass="ui-card-shadow">-->
  <h3>{{titulo}}</h3>
  <div class="container ui-fluid">
    <div class="container row">
      <!--<div class="ui-g-5">-->
      <div class="form-group row">
        <label for="cancha" class="col-sm-2 col-form-label"><strong>Tipo de Cancha</strong></label>
        <div class="col-sm-10">
          <p id="cancha">{{partido?.deporte?.nombre || reserva?.cancha.deporte}}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="horario" class="col-sm-2 col-form-label"><strong>Fecha y hora</strong></label>
        <div class="col-sm-10">
          <p id="horario">{{partido?.dia || reserva?.dia | date:'dd/MM/yyyy - HH:mm'}}</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="Mapa" class="col-sm-2 col-form-label"><strong>Ubicación</strong></label>
      <div class="col-sm-10">
        <button mat-raised-button id="Mapa" color="primary" class="col-sm-12" (click)="openDialog()">Ubicación</button>
      </div>
      <label class="col-12 col-form-label"><strong>Predio: </strong>{{predio?.nombrePredio}} -
        {{predio?.direccion}}</label>
    </div>
    <app-plantel #appPlantel *ngIf="partido" [setIdPartido]="idPartido" [editable]="editable" [maximoPorEquipo]="partido?.deporte.cantJugadores/2"
                 (jugadorSumado)="setAbandonar($event)"></app-plantel>
  </div>
  <mat-card-actions *ngIf="abandonar && partido?.estado !== 'Jugando' && partido?.estado !== 'Finalizado'; else noOrg">
    <button mat-raised-button color="warn" (click)="abandonarPartido()">Abandonar partido</button>
  </mat-card-actions>
  <ng-template #noOrg>
    <mat-card-actions style="text-align: right;"
                      *ngIf="(!partido && reserva?.estado !== 'Cancelada' && reserva?.estado !== 'Completada') ||
  (!reserva && partido?.estado !== 'Jugando' && partido?.estado !== 'Finalizado') && mostrarBoton">
      <button mat-raised-button color="warn" (click)="showConfirmDialog(reserva || partido)">Cancelar {{titulo}}</button>
    </mat-card-actions>
  </ng-template>

  <!--</p-card>-->
</div>
