<div class="centrado">
  <p-card title="Crear Partido" [style]="{width: '100%'}" styleClass="ui-card-shadow">
    <div class="container ui-fluid">
      <div class="container row">
        <!--<div class="ui-g-5">-->
        <div class="form-group row">
          <label for="cancha" class="col-sm-2 col-form-label"><strong>Tipo de Cancha</strong></label>
          <div class="col-sm-10">
            <p id="cancha">{{partido?.deporte?.nombre}}</p> <!--aca tira error-->

          </div>
        </div>
        <div class="form-group row">
          <label for="horario" class="col-sm-2 col-form-label"><strong>Fecha y hora</strong></label>
          <div class="col-sm-10">
            <p id="horario">{{partido?.dia | date:'dd/MM/yyyy - HH:mm'}}</p> <!--aca tira error-->
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Mapa" class="col-sm-2 col-form-label"><strong>Ubicación</strong></label>
        <div class="col-sm-10">
          <button pButton id="Mapa" type="button" label="Mapa" icon="fa-map-marker"
                  (click)="displayDialog=true; mapa.setUbicacion(predio)"></button>
          <!--<button type="text" pButton label="Basic" (click)="op1.toggle($event)"></button>-->
        </div>
        <label class="col-12 col-form-label"><strong>Predio: </strong>{{predio?.nombrePredio}}</label> <!--aca tira error-->
      </div>
      <app-plantel [setIdPartido]="idPartido" (sendPlantel)="getPlanteles($event)"></app-plantel>
    </div>

  </p-card>
</div>

<p-dialog header="Title" [minWidth]="300" [(visible)]="displayDialog" [modal]="true">
  <app-map #mapa></app-map>
</p-dialog>
