<div style="margin: 3%;" (swipeLeft) = "restarNotificacion.emit('')" (swipeRight) = "restarNotificacion.emit('')">
  <mat-card>
    <mat-card-header>
      {{mensaje}} <small>{{reserva.dia | date:'dd/MM/yy - HH:mm'}}</small>
    </mat-card-header>
    <mat-card-content>
      <p>Esperando minimo de jugadores</p>
    </mat-card-content>
    <mat-card-actions style="text-align: right;" *ngIf="reserva.estado === 'Solicitada'">
      <button mat-raised-button (click)="responder('Rechazada')" color="warn">Rechazar</button>
      <button mat-raised-button (click)="responder('Reservada')" color="primary">Aceptar</button>
    </mat-card-actions>
  </mat-card>
</div>
