<div style="margin: 3%;" (swipeLeft)="reserva.estado !== 'PreReserva' || restarNotificacion.emit('')"
     (swipeRight)="reserva.estado !== 'PreReserva' || restarNotificacion.emit('')">
  <mat-card>
    <mat-card-title style="font-size: 16px">
      {{mensaje}} <br>
      <small>{{reserva.dia | date:'dd/MM/yy - HH:mm'}}</small>
    </mat-card-title>
    <mat-card-subtitle *ngIf="reserva.estado === 'PreReserva'">
      Esperando que se complete el minimo.
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="reserva.estado === 'Solicitada'">
      <p *ngIf="reserva?.jugador?.calificacionPredio?.cantCalificaciones > 0; else noCalificacion">% Asistencia a
        Reservas Previas: {{reserva?.jugador?.calificacionPredio?.porcentajeCalificacionesPositivas.toFixed(2)}}</p>
      <ng-template #noCalificacion>
        <p>El jugador todavia no posee ninguna referencia de su asistencia a reservas previas</p>
      </ng-template>
    </mat-card-subtitle>
    <!--<mat-card-content>-->
    <!--<p>Esperando minimo de jugadores</p>-->
    <!--</mat-card-content>-->
    <mat-card-actions style="text-align: right;" *ngIf="reserva.estado === 'Solicitada'">
      <button mat-raised-button (click)="responder('Cancelada')" color="warn">Rechazar</button>
      <button mat-raised-button (click)="responder('Reservada')" color="primary">Aceptar</button>
    </mat-card-actions>
  </mat-card>
</div>
