<div class="form-group row" *ngIf="partido?.estado !== 'Jugando' && partido?.estado !== 'Finalizado'">
  <label for="jugador" class="col-sm-2 col-form-label"><strong>Jugadores a invitar</strong></label>
  <div class="btn-group col-sm-2 col-form-label" role="group">
    <button mat-raised-button [ngClass]="{'press': clickedLocal}" color="primary" class="col-6"
            (click)="clickedLocal = true; clickedVisitante = false; activarComponent('local')">Local
    </button>
    <button mat-raised-button [ngClass]="{'press': clickedVisitante}" color="primary" class="col-6"
            (click)="clickedVisitante = true; clickedLocal = false; activarComponent('visitante')">Visitante
    </button>
  </div>
  <div *ngIf="!disabled && confirmado; else noPartido" class="col-sm-8">
    <app-invitar-jugadores [queTraer]="'Amigos'" id="jugador" (notifyParent)="getJugadores($event)"
                           [isReset]="resetForm"></app-invitar-jugadores>
    <mat-checkbox *ngIf="tieneEquipo" [color]="'primary'" [checked]="invitacionEquipo" (change)="invitarEquipo()">
      Invitar a mi equipo
    </mat-checkbox>
    <button mat-raised-button class="ui-grid-col-12" color="primary" (click)="invitarJugadores()">Invitar</button>
  </div>
  <ng-template #noPartido>
    <div class="col-sm-8">
      <button *ngIf="!disabled && !confirmado && !invitado" mat-raised-button class="ui-grid-col-12" color="primary"
              (click)="sumarsePartido()">Sumarse al equipo {{localidad}}
      </button>
    </div>
  </ng-template>
</div>
<div class="row">
  <div class="ui-g-5">
    <div *ngIf="plantelLocal?.jugadoresConfirmados.length > 0">
      Confirmados
      <mat-divider></mat-divider>
    </div>
    <mat-list *ngFor="let j of plantelLocal?.jugadoresConfirmados">
      <mat-list-item (click)="!editable || openDialog(j, 'local', 'remove')">
        <p><b>{{j.nombre}} {{j.apellido}}</b></p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div *ngIf="plantelLocal?.jugadores.length > 0">
      No Confirmados
      <mat-divider></mat-divider>
    </div>
    <mat-list *ngFor="let j of plantelLocal?.jugadores">
      <mat-list-item (click)="!editable ||openDialog(j, 'local', 'confirm')">
        <p>{{j.nombre}} {{j.apellido}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div class="ui-g-2 text-center">
    <p *ngIf="plantelVisitante?.jugadoresConfirmados.length > 0 || plantelVisitante?.jugadores.length > 0
||plantelLocal?.jugadoresConfirmados.length > 0 || plantelLocal?.jugadores.length > 0">vs.</p>
  </div>
  <div class="ui-g-5 ">
    <div *ngIf="plantelVisitante?.jugadoresConfirmados.length > 0">
      Confirmados
      <mat-divider></mat-divider>
    </div>
    <mat-list *ngFor="let j of plantelVisitante?.jugadoresConfirmados">
      <mat-list-item (click)="!editable || openDialog(j, 'visitante', 'remove')">
        <p><b>{{j.nombre}} {{j.apellido}}</b></p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div *ngIf="plantelVisitante?.jugadores.length > 0">
      No Confirmados
      <mat-divider></mat-divider>
    </div>
    <mat-list *ngFor="let j of plantelVisitante?.jugadores">
      <mat-list-item (click)="!editable ||openDialog(j, 'visitante', 'confirm')">
        <p>{{j.nombre}} {{j.apellido}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
