<div class="form-group row" *ngIf="partido?.estado !== 'Jugando' && partido?.estado !== 'Finalizado'">
  <label for="jugador" class="col-sm-2 col-form-label"><strong>Jugadores a invitar</strong></label>
  <div class="btn-group col-sm-2 col-form-label" role="group">
    <!--<button pButton type="button" class="ui-button-secondary" label="Local"-->
            <!--(click)="activarComponent('local')"></button>-->
    <button mat-raised-button color="primary" class="col-6" (click)="activarComponent('local')">Local</button>
    <button mat-raised-button color="primary" class="col-6" (click)="activarComponent('visitante')">Visitante</button>
    <!--<button pButton type="button" class="ui-button-secondary" label="Visitante"-->
            <!--(click)="activarComponent('visitante')"></button>-->
  </div>
  <div *ngIf="!disabled" class="col-sm-8">
    <app-invitar-jugadores id="jugador" (notifyParent)="getJugadores($event)"
                           [isReset]="resetForm"></app-invitar-jugadores>
    <button mat-raised-button class="ui-grid-col-12" color="primary" (click)="invitarJugadores()">Invitar</button>
  </div>
</div>
<div class="row">
  <div class="ui-g-5">
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
      <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: left">
        <span style="padding: 0px 0px 15px;">Confirmados</span>
      </div>
      <div *ngFor="let j of plantelLocal?.jugadoresConfirmados">
        <p (click)="openDialog(j, 'local', 'remove')"><b>{{j.nombre}} {{j.apellido}}</b></p>
      </div>
      <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: left">
        <span style="padding: 0px 0px 15px;">No Confirmados</span>
      </div>
      <div *ngFor="let j of plantelLocal?.jugadores">
        <!--<p (click)="confirm1(j, 'local')">{{j.nombre}} {{j.apellido}}</p>-->
        <p (click)="openDialog(j, 'local', 'confirm')">{{j.nombre}} {{j.apellido}}</p>
      </div>
    </p-scrollPanel>
  </div>
  <div class="ui-g-2 text-center">
    <p>vs.</p>
  </div>
  <div class="ui-g-5 ">
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
      <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: left">
        <span style="padding: 0px 0px 15px;">Confirmados</span>
      </div>
      <div *ngFor="let j of plantelVisitante?.jugadoresConfirmados">
        <p (click)="openDialog(j, 'visitante', 'remove')"><b>{{j.nombre}} {{j.apellido}}</b></p>
      </div>
      <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: left">
        <span style="padding: 0px 0px 15px;">No Confirmados</span>
      </div>
      <div *ngFor="let j of plantelVisitante?.jugadores">
        <p (click)="openDialog(j, 'visitante', 'confirm')">{{j.nombre}} {{j.apellido}}</p>
      </div>
    </p-scrollPanel>
  </div>
</div>
