<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!--<h1 class="example-app-name" routerLink="/partido">Minuto Cero</h1>-->
    <app-solicitud-amistad></app-solicitud-amistad>
    <span class="spacer"></span>
    <div class="fab-container">
      <button mat-icon-button routerLink="/notificaciones">
        <mat-icon>notifications</mat-icon>
        <span *ngIf="cantidad > 0" class="badge">{{cantidad}}</span>
      </button>
      <!--<button mat-icon-button>-->
        <!--<mat-icon class="icon">notifications</mat-icon>-->
        <!--<span class="badge" >{{cantidad}}</span>-->
      <!--</button>-->
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/partido" (click)="snav.toggle()">Partidos</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/equipo/crear" (click)="snav.toggle()">Crear Equipo</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/equipo/miEquipo" (click)="snav.toggle()">Mi Equipo</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/puntuaciones"(click)="snav.toggle()">Calificar</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/reservaIndependiente"(click)="snav.toggle()">Reservar Cancha</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="logOut()">Log Out</a>
        <!--<a mat-list-item (click)="snav.toggle()" routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>-->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--<router-outlet (restarNotificaciones)="restarNotificacion($event)"></router-outlet>-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
