<mat-list>
  <mat-list-item>
    <img matListAvatar class="rounded-circle" src="http://placehold.it/60x60" alt="">
    <div mat-line class="example-section">
      <mat-form-field style="width: 30px; text-align: center" class="example-margin">
        <input matInput type="number" [(ngModel)]="golesLocal">
      </mat-form-field>
      -
      <mat-form-field style="width: 30px; text-align: center" class="example-margin">
        <input matInput type="number" [(ngModel)]="golesVisitante">
      </mat-form-field>
    </div>
    <p mat-line style="text-align: center">Fecha</p>
    <p mat-line style="text-align: center">Predio donde se jugo</p>
    <!--<section mat-line class="example-section">-->
    <!--<mat-form-field style="width: 25px; text-align: center" class="example-margin">-->
    <!--<input matInput type="number" [(ngModel)]="value">-->
    <!--</mat-form-field>-->
    <!-- - -->
    <!--<mat-form-field style="width: 25px; text-align: center" class="example-margin">-->
    <!--<input matInput type="number" [(ngModel)]="value">-->
    <!--</mat-form-field>-->
    <!--</section>-->
    <img mat-card-image class="rounded-circle" src="http://placehold.it/60x60" alt="">
  </mat-list-item>
</mat-list>


