<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--<mat-icon class="example-tab-icon">thumb_up</mat-icon>-->
      Incompletos
    </ng-template>
    <app-listado-partidos [setEstadoPartido]="'Incompleto'"></app-listado-partidos>
    <div class="fab-container">
      <button mat-fab class="fab-toggler" color="accent"
              aria-label="Button that displays a tooltip when focused or hovered over"
              (click)="crearPartido()">
        <i class="material-icons" style="color: white;">add</i>
      </button>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--<mat-icon class="example-tab-icon">thumb_up</mat-icon>-->
      Jugando
    </ng-template>
    <app-listado-partidos [setEstadoPartido]="'Jugando'"></app-listado-partidos>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--<mat-icon class="example-tab-icon">thumb_up</mat-icon>-->
      Finalizados
    </ng-template>
    <app-listado-partidos [setEstadoPartido]="'Finalizado'"></app-listado-partidos>

  </mat-tab>
</mat-tab-group>
