<!--<p-tabView (onChange)="onTabChange($event)" >-->
  <!--<p-tabPanel header="Incompletos" [selected]="true" rightIcon="pi pi-user-plus">-->
    <!--<app-listado-partidos [setEstadoPartido]="'Incompleto'"></app-listado-partidos>-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="Jugando" rightIcon="pi pi-users">-->
      <!--<app-listado-partidos [setEstadoPartido]="'Jugando'"></app-listado-partidos>-->
    <!--<p-button (click)="crearPartido()">Crear Partido</p-button>-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="Completos" rightIcon="pi pi-calendar">-->
    <!--<app-listado-partidos [setEstadoPartido]="'Finalizado'"></app-listado-partidos>-->
  <!--</p-tabPanel>-->
<!--</p-tabView>-->
<p-tabView (onChange)="onTabChange($event)" >
  <p-tabPanel header="Incompletos" [selected]="true" >
    <app-listado-partidos [setEstadoPartido]="'Incompleto'"></app-listado-partidos>
    <div class="fab-container">
      <button mat-fab class="fab-toggler" color="primary"
              (click)="crearPartido()">
        <i class="material-icons">add</i>
      </button>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Jugando">
    <app-listado-partidos [setEstadoPartido]="'Jugando'"></app-listado-partidos>
  </p-tabPanel>
  <p-tabPanel header="Completos" >
    <app-listado-partidos [setEstadoPartido]="'Finalizado'"></app-listado-partidos>
  </p-tabPanel>
</p-tabView>
