.buscador {
  /*color: white;*/
  /*width: 100%;*/
  /*padding: 10px 0 0;*/
  /*font-size: medium*/
  border: 0;
}

.mat-input-infix .mat-form-field-infix {
  padding: 3px;
  border: 0;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

