<mat-list style="padding-top: 0px">
  <!--<h2 mat-subheader>Capitan</h2>-->
  <mat-list-item routerLink="/jugador/jugador/{{capitan?._id}}">
    <img matListAvatar class="rounded-circle" src="{{ capitan?.img }}">
    <h4 mat-line>{{capitan?.nombre}} {{capitan?.apellido}}</h4>
    <h5 mat-line>{{capitan?.email}}</h5>
    <p mat-line>
      <p-rating [ngModel]="capitan?.calificacion.puntaje" [cancel]="false" readonly="true"></p-rating>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
