<!--<div class="container">-->
<mat-card>
  <mat-card-header>
    <h3>Reserva</h3>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group row">
      <label for="datos" class="col-sm-2 col-form-label"><strong>Datos jugador</strong></label>
      <div id="datos" class="col-sm-10">
        <mat-form-field>
          <input matInput placeholder="Nombre" [readonly]="true" required [value]="jugador?.nombre">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apellido" required [value]="jugador?.apellido" [readonly]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Teléfono de Contacto" required [value]="jugador?.telefono"
                 [readonly]="true">
        </mat-form-field>
      </div>
    </div>

    <div readonly="editable">
      <app-fecha-hora *ngIf="reserva" [readOnly]="true" [fecha]="reserva.dia"></app-fecha-hora>
    </div>

    <div class="form-group row">
      <label for="cancha" class="col-sm-2 col-form-label"><strong>Cancha</strong></label>
      <div class="col-sm-10">
        <mat-select id="cancha" placeholder="Cancha" required [value]="reserva?.cancha.nombreCancha">
          <mat-option *ngFor="let c of [reserva?.cancha]" [value]="c?.nombreCancha">
            {{c?.nombreCancha}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="reserva?.jugadorNoRegistrado">
    <button mat-raised-button color="warn" (click)="cancelarReserva()">Cancelar Reserva</button>
  </mat-card-actions>
</mat-card>
<!--</div>-->
