<!--<div class="container">-->
<mat-card>
  <mat-card-header>
    <h3>Reserva</h3>
    <button mat-button (click)="editable = !editable">Editar</button>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group row">
      <label for="datos" class="col-sm-2 col-form-label"><strong>Datos jugador</strong></label>
      <div id="datos" class="col-sm-10">
        <mat-form-field>
          <input matInput placeholder="Nombre" [readonly]="editable" required [(ngModel)]="jugador.nombre">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apellido" required [(ngModel)]="jugador.apellido" [readonly]="editable">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Teléfono de Contacto" type="number" required [(ngModel)]="jugador.telefono"
                 [readonly]="editable">
        </mat-form-field>
      </div>
    </div>

    <div readonly="editable">
      <app-fecha-hora [readOnly]="editable" [fecha]="reserva?.dia"></app-fecha-hora>
    </div>

    <div class="form-group row">
      <label for="cancha" class="col-sm-2 col-form-label"><strong>Tipo de Cancha</strong></label>
      <div class="col-sm-10">
        <!--<mat-select id="cancha" placeholder="Cancha" required-->
        <!--(selectionChange)="sendCancha($event)">-->
        <!--<mat-option *ngFor="let c of canchas" [value]="c">-->
        <!--{{c?.nombreCancha}}-->
        <!--</mat-option>-->
        <!--</mat-select>-->
        <mat-select id="cancha" placeholder="Cancha" required [value]="reserva?.cancha.nombreCancha">
          <mat-option *ngFor="let c of [reserva?.cancha]" [value]="c.nombreCancha">
            {{c?.nombreCancha}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div style="text-align: right; padding: 6px 15px">
      <!--<button mat-raised-button color="warn" (click)="volver()">Cancelar</button>-->
      <!--<button mat-raised-button color="primary" (click)="reservar()"-->
      <!--[disabled]="!(nombreJugador && apellidoJugador && telefono && fecha && cancha)">Reservar</button>-->
    </div>
  </mat-card-content>

</mat-card>
<!--</div>-->
